<!-- src/main/resources/templates/fragments/header.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
  <div class="container">
    <a class="navbar-brand" href="/inicio">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/agregarPost">Agregar Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agregarUsuario">Agregar Usuario</a>
        </li>
        <li class="nav-item" th:if="${user != null}">
          <a class="nav-link" href="/logOut">Salir</a>
        </li>
        <li class="nav-item" th:if="${user == null}">
          <a class="nav-link" href="/">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
